{% extends "pages/base.html" %}

{% block title %}
Lolinet - Lolicon の 天国
{% endblock %}

{% block content %}
<br>
<br>
<center><h1 style="color: rgb(224, 70, 165);">❣ Lolinet ❣</h1></center>
<center><h1 style="color: rgb(224, 70, 165);">Cung cấp dịch vụ Internet</h1></center>
<center><img src ="../static/images/suu.png" class="responsive-img" style="max-height: 200px;"></center>
<br>
<br>
<h1>Tin tức sự kiện</h1>
<p><img src ="../static/images/best.png" class="responsive-img" style="max-width: 320px;"></p>
<p>Dịch vụ cung cấp gói best với rất nhiều ưu đãi...</p>
<p><img src="../static/images/logo2.png" class="responsive-img" style="max-width: 320px;" ></p>
<p>Lolicon đã có thể chống lại FBI, không thể bị bắt</p>
<br>
<br>
<h1>Hỗ trợ khách hàng</h1>
<p>Chủ tịch: Trần Bảo Ngọc</p>
<p>Số điện thoại: 0583119267</p>
<p>Facebook: <a href="https://www.facebook.com/darkness1331311/">Trần Ngọc</a></p>

{% endblock %}