{% extends "pages/user.html" %}
{% block title %}
Lolinet - Lolicon の 天国
{% endblock %}
{% block content %}
<br>
<br>
<h1>Thông tin cá nhân :</h1>
<p>Tài khoản {{username}}</p>
<p>Tên : {{name}}</p>
<p>Ngày sinh : {{dob}}</p>
<p>Địa chỉ : {{add}}</p>
<p>Thành phố : {{city}}</p>
<p>Giới tính : {{gen}}</p>
<p>Ngày đăng ký : {{reg}}</p>
<p>Số chứng minh nhân dân : {{cmt}}</p>
<br>
<br>
<h1>Gói đang sử dụng :</h1>
<p>{{pname}}</p>
<p>Tốc độ : {{ps}} Mbps</p>
<p>Ngày hết hạn : {{exd}}</p>
<br>
<br>
<h1>Thông tin liên hệ :</h1>
<p>Số điện thoại : {{sdt}}</p>
<br> 
{% endblock %}












