{% extends "pages/user.html" %}

{% block title %}
Lolinet - Lolicon の 天国
{% endblock %}
{% block content %}
<br>
<br>
<center><h1 style="color: rgb(224, 70, 165);">❣ Lolinet ❣</h1></center>
<center><img src ="../../../static/images/suu.png" class="responsive-img" style="max-height: 200px;"></center>
<br>
<p>Tổng số giao dịch của bạn là: {{number_tran}}</p>
<p>Tổng số tiền bạn đã giao dịch là: {{total}} VND</p>
<br>
{% for reg,to,me,count in infor %}
    <p>{{count}}</p>
    <p>Ngày giao dịch: {{reg}}</p>
    <p>Số tiền: {{to}} VND</p>
    <p>Phương thức thanh toán: {{me}}</p>
    <br>
{% endfor %}
   
{% endblock %}